<!DOCTYPE html>
<html dir="ltr" lang="en" mode="ios">
  <head>
    <meta charset="utf-8" />
    <title>Pyrite Editor</title>
    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="Pickled Yoda Reads TIE files" />
    <meta name="theme-color" content="#16161d" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Ionic PWA" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta http-equiv="x-ua-compatible" content="IE=Edge" />
    <link href="dist/pyrite/pyrite.css" rel="stylesheet" />
    <script type="module" src="dist/pyrite/pyrite.esm.js"></script>
    <script nomodule="" src="dist/pyrite/pyrite.js"></script>
  </head>
  <body style="max-width: 30rem;">
    <pyrite-tie-plt></pyrite-tie-plt>
  </body>
</html>
